@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique', sans-serif;
}

body{
    /* background-color: rgb(181, 38, 191); */
    background-image: linear-gradient(to bottom right, grey, white);
    height: 100%;
    width: 100%;

}

main{
    position: relative;
    width: 55%;
    background-color: white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 5% 30px 5%;
    min-height: 100vh;
}

header{

}

nav{

}

h1{
    font-size: 2.2em;
    margin-bottom: 40px;
}

h2{
    font-size: 1.5em;
}

p{
    font-family: 'Prata', serif;
    font-size: 1.2em;
}

a{
    text-decoration: none;
}

.listInARow li{
    display: inline-block;
    font-size: 1.6em;
    padding: 20px;
}

@media only screen and (max-device-width: 360px){
    main{
        width: 100%;
    }
}

@media only screen and (max-device-width: 820px){
    main{
        width: 90%;
    }
}