@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique', sans-serif;
}

body{
    background-image: white;
    height: 100%;
    width: 100%;
}

main{
    position: relative;
    width: 100%;
    background-color: white;
    height: 100%;
    float: right;
    padding: 30px 5% 30px 5%;
    min-height: 100vh;
    
}

aside{
    width: 15%;
    float: left;
    position: relative;
}

article{
    margin-top: 30px;
}

h1{
    font-size: 2.2em;
    margin-bottom: 25px;
    text-align: center;
}

h2{
    font-size: 1.5em;
    text-align: center;
}

p{
    font-family: 'Prata', serif;
    font-size: 1.2em;
    line-height: 2;
}

a{
    text-decoration: none;
    color: black
}


.listInARow{
    text-align: center;
}

.listInARow li{
    font-size: 1.2em;
    padding: 10px;
    list-style: none;
    border: 3px solid black;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #DDDDDD;
}

.listInARow li:hover{
    transition: 0.25s;
    background-color: white;
}

.listInARow li:first-child{
    margin-top: 20px
}

.textSection{
    position: relative;
    width: 50%;
    float: left;
}

.photoSection{
    position: relative;
    width: 40%;
    float: right;
}

.photoSection img{
    height: auto;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 50px;
}

.projectArticle a, .projectArticle h1, .projectArticle h2{
    width: 90%;
    text-align: left;
}

section.projectArticle{
    margin-bottom: 30px;
}

.blogListItem{
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border: 0px solid black;
    margin-bottom: 25px;
}

.blogListItem h2, .blogListItem p{
    text-align: left;
}

.blogListItem img{
    height: 90%;
    width: auto;
    float: left;
}

.blogListItemDescription{
    margin-top: 5%;
}

@media only screen and (max-width: 1100px){
    main{
        width: 100%;
    }
    
    aside{
        width: 0;
        visibility: none;
    }
    
}
